body{
  background: #376 url() 0 0 no-repeat;
  color: rgba(15, 74, 104, 1);
  border: 12PX solid #547;
  size: 1000px;
  border-image-repeat: #29680F;
row-gap: 50;
print-color-adjust: #13216A;
  content: 4;
}
:active{
  columns: BLACK;
  masonry-auto-flow: #432A92;
  flex-direction: auto-flow;
}